<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="novap">
            <label>NOVAP</label>
        </tab>
        <section id="customproduct" type="text" sortOrder="0" showInDefault="1">
            <class>separator-top</class>
            <label>Custom Product</label>
            <tab>novap</tab>
            <resource>Webfab_CustomProduct::contributors</resource>
            <group id="general" type="text" showInDefault="1">
                <label>General</label>
                <field id="email" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Email</label>
                </field>
            </group>
        </section>
    </system>
</config>
